.login-list {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 40px;
    list-style-type: none;
    padding: 20px 10px;
  }
  
  .login-list h1{
      margin-left: 12px;
  }
  
  .login-list a{
      color: gold;
      text-decoration: none;
      text-transform: uppercase;
  }
  
  .heading{
      color: rgb(185, 210, 22);
      margin-top: 50px;
      text-align: center;
  }
  